extends layout

block content
	.page-header
		h3 Contact Form
		div.contact.row.grey.lighten-2
		div.email.col.l4.m4.s12.valign-wrapper
			i.material-icons email
			| &nbsp; info@BABAYAGA
		div.address.col.l4.m4.s12.valign-wrapper
			i.material-icons info_outline
			| &nbsp; CARROT
		div.social.col.l1.m1.s4.valign-wrapper.offset-l1
			img.fb(src="images/twitter_logo.png")
		div.social.col.l1.m1.s4.valign-wrapper
			img.fb(src="images/fb_logo3.png")
		div.social.col.l1.m1.s4.valign-wrapper
			img.fb(src="images/insta_logo.png")

	form.form-horizontal(method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.form-group
			label(class='col-sm-2 control-label', for='name') Name
			.col-sm-8
				input.form-control(type='text', name='name', id='name', autofocus=true)
		.form-group
			label(class='col-sm-2 control-label', for='email') Email
			.col-sm-8
				input.form-control(type='text', name='email', id='email')
		.form-group
			label(class='col-sm-2 control-label', for='message') Body
			.col-sm-8
				textarea.form-control(name='message', id='message', rows='7')
		.form-group
			.col-sm-offset-2.col-sm-8
				button.btn.btn-primary(type='submit')
					i.fa.fa-envelope
					| Send
