extends layout

block content
	.page-header
		h3 Map

	section
		#search-div
			h1 Choose your destination
			#search-field-and-button
				input#pac-input.controls(type='text', placeholder='Enter a city, town or region')
				input#search-bar-button.confirm-dest-button(type='button', value='Confirm destination')

		#edit-trip-div
			h1.trip-destination
			#edit-trip-content
			input#done-button(type='button', value='Done')

		#show-trip-div
			h1.trip-destination
			#places-map.map
			#show-trip-content
			input#edit-trip-button(type='button', value='Edit trip')

		#trips-list
		section
