form#newTripForm
	input#destination(type='text', name='destination', placeholder='dest', required='')
	input#longitude(type='text', name='longitude', placeholder='long', required='')
	input#latitude(type='text', name='latitude', placeholder='lat', required='')
	input(type='Submit')
script(type='text/javascript', src='../js/map.js')
button#testDelete Delete Trip
